body {
  min-height: 100%;
  background-color: var(--background-color);
  font-family: var(--ff-body);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6875rem;
  color: var(--font-color-primary);
}

h2 {
  font-family: var(--ff-heading);
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 2.625rem;
  margin: 0 0 1rem;
}

h3 {
  font-family: var(--ff-heading);
  font-size: 1.3125rem;
  font-weight: 600;
  line-height: 2.125rem;
  margin: 0 0 0.8rem;
}

p {
  margin: 0;
}

.button,
button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  border-radius: 1.5rem;
  cursor: pointer;
  box-sizing: border-box;
  height: 3rem;
  padding: 0 2.25rem;
  font-family: var(--ff-heading);
  font-size: 1.375rem;
  line-height: 1;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  align-self: center;
  color: var(--highlight-color);
  background-color: var(--primary-color);
}

.button:hover,
a:hover {
  background-color: var(--primary-color-lighter);
  outline: 0;
}

.button:focus,
a:focus,
.button:active,
a:active,
.button:target,
a:target {
  background-color: var(--primary-color);
  outline: var(--primary-color) solid 0.188rem;
  outline-offset: 0.25rem;
}

.center {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
}

/* TOP COPNTAINER */

.top-container {
  display: flex;
  flex-direction: row;
  gap: 0rem;
  filter: drop-shadow(0px -0.625rem 0.938rem #000000);
  margin: 0 0 11rem;
}

.card {
  flex: 1;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 1.688rem;
  justify-content: center;
  align-items: center;
  padding: 0 5.625rem;
  max-width: 40.5rem;
  position: relative;
}

.card p {
  font-family: var(--ff-heading);
  font-size: 1.688rem;
  font-weight: 400;
  line-height: 2.688rem;
  padding: 0 1rem;
}

.card:after {
  position: absolute;
  content: '';
  background-color: var(--secondary-color);
  top: 100%;
  width: 100%;
  height: 3.375rem;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
}

.ylitse-logo {
  max-width: 16.25rem;
}

.card-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.125rem;
}

.art-jumbo-container {
  flex: 3;
  background: url(../static/img/home-page-background.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 57.1875rem;
  position: relative;
  border-left: solid 0.5rem var(--background-color);
}

/* MIDDLE CONTAINER */

.middle-container {
  display: flex;
  flex-direction: column;
  max-width: 105.9375rem;
  margin: 0 auto 7.5rem;
  padding: 0 2rem;
}

.middle-card {
  display: flex;
  background-color: var(--primary-color);
  padding: 0;
  padding-top: 4.5rem;
  border-radius: 1.125rem 1.125rem 0 0;
  color: var(--font-color-secondary);
}

.middle-left-content {
  flex: 5;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 1.125rem 5.625rem 0;
  background: url(../static/img/ylitse-middle-illustration.svg);
  background-size: 100% 110%;
  background-position: 0 80%;
  background-repeat: no-repeat;
}

.info-ring {
  border: solid 0.563rem var(--secondary-color-darker);
  width: 13.5rem;
  height: 13.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.middle-illustration {
  height: 31.5rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.middle-right-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 1.125rem;
  padding: 0 5.625rem 4.5rem 0;
  overflow: auto;
}

.middle-right-content > div {
  margin: 0 0 1rem;
}

.middle-bottom-footer {
  display: flex;
  justify-content: center;
  gap: 1.125rem;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 0 0 1.125rem 1.125rem;
  padding: 1.9rem 0;
  font-weight: 600;
}

.middle-bottom-footer p {
  font-size: 1.313rem;
  font-weight: 600;
}

/* BOTTOM CONTAINER */

.bottom-container {
  background-color: var(--secondary-background-color);
  align-items: center;
  padding: 5rem 0 5.5rem;
}

.bottom-container-inner {
  max-width: 57rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.bottom-container-header {
  margin: 0 0 3.5rem;
}

.mentor-cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.mentor-card {
  max-width: 27.5rem;
  min-height: 30rem;
  background-color: var(--background-color-light);
  border-radius: 1.125rem;
  position: relative;
}

.mentor-card:before {
  content: '';
  width: 15rem;
  height: 40rem;
  position: absolute;
  bottom: 0;
}

.mentor-card:nth-child(1):before {
  left: -15rem;
  background: no-repeat url(../static/img/mentor-left.svg) bottom right;
}

.mentor-card:nth-child(2):before {
  right: -15rem;
  background: no-repeat url(../static/img/mentor-right.svg) bottom left;
}

.mentor-card-header {
  display: flex;
  height: 6.5rem;
  padding: 1.125rem;
  padding-left: 9rem;
  margin: 0 0 2rem;
  border-radius: 1.125rem;
  color: var(--font-color-secondary);
  background: no-repeat var(--primary-color)
    url(../static/icons/chat-profilepic.svg) 2.5rem center;
  background-size: 5.1875rem;
  flex-direction: column;
  justify-content: center;
}

.mentor-card-header h2 {
  margin: 0;
  line-height: 2rem;
}

.mentor-card-content {
  padding: 0 2.75rem 2.75rem;
  text-overflow: ellipsis;
}

.mentor-card-content > div {
  margin-bottom: 1.5rem;
}

.mentor-card-content h3 {
  margin-bottom: 0.8rem;
}

.pill-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.813rem;
}

.pill {
  background: var(--secondary-background-color);
  border-radius: 1.5rem;
  padding: 0.35rem 1.2rem;
  box-shadow: 2px 3px 6px 0px #0000000f;
}

/* FINAL CONTAINER */

.final-container {
  background-color: var(--secondary-color);
  padding: 6.25rem 2rem;
}

.final-container-content {
  max-width: 40rem;
  gap: 1.125rem;
  text-align: center;
  margin: 0 auto;
}

.final-container-content p {
  margin-bottom: 2.25rem;
}

.final-button-container {
  display: flex;
  justify-content: center;
  gap: 1.688rem;
}

/* FOOTER */

footer {
  background-color: var(--secondary-color-darker);
  margin: 0;
  color: var(--font-color-primary);
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: var(--font-color-primary);
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active,
.footer-link:target {
  background-color: unset;
  outline: none;
}

.footer-logo {
  max-height: 3.5rem;
  margin: 0 1rem;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 2300px) {
  .middle-left-content {
    justify-content: space-evenly;
    padding-top: 2.25rem;
  }
}

@media only screen and (max-width: 1200px) {
  .middle-container {
    margin: 2.25rem;
  }
}

@media only screen and (max-width: 1000px) {
  .middle-container {
    margin: 1.125rem;
  }

  .middle-left-content {
    flex: 1;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  .middle-illustration {
    display: none;
  }

  .bottom-container {
    padding: 2.25rem 0;
  }
}

@media only screen and (max-width: 880px) {
  p {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  a {
    font-size: 1.25rem !important;
    line-height: 1.625rem !important;
    height: 2.25rem !important;
  }

  .card-buttons {
    justify-content: center;
    gap: 1.125rem;
  }

  .middle-container {
    margin: 0.563rem;
  }

  .middle-card {
    flex-direction: column-reverse;
    height: auto;
  }

  .middle-right-content {
    padding: 1.125rem;
  }

  .middle-left-content {
    flex: 0;
    display: none;
  }

  .middle-bottom-footer {
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .info-ring {
    width: 4.5rem;
    height: 4.5rem;
  }

  .bottom-top-content {
    padding: 0.5rem;
  }

  .final-container {
    padding: 0.5rem;
  }

  .mentor-card-container {
    width: 23.5rem;
  }

  .mentor {
    display: none;
  }
}

@media only screen and (max-width: 660px) {
  .top-container {
    flex-direction: column;
  }

  .card {
    padding: 0.5rem;
  }

  .ylitse-logo {
    height: 9rem;
  }

  .middle-bottom-footer {
    padding: 1.125rem;
  }
}
