:root {
    --corner-radius: 8px;
    --shadow-color: rgba(0, 0, 0, 0.2);

    /* fonts */
    --ff-heading: 'Baloo 2';
    --ff-body: 'Source Sans 3';

    /* colors */
    --theme-color-primary: #4a2acb;
    --theme-color-secondary: #43bfff;

    --font-color-primary: #1c325d;
    --font-color-secondary: #fff;

    /* box sizes */
    --header-height: 5rem;

    /* line heights */
    --line-height-body: 1.5rem;
}

/* Mobile header and footer styles */

.ylitse-mobile-header {
  display: none;
  text-transform: uppercase;
  background: var(--theme-color-primary);
  box-shadow: 0 0 var(--corner-radius) var(--shadow-color);
  align-items: center;
  color: var(--font-color-secondary);
}

.ylitse-mobile-header img {
  text-align: center;
}

.ylitse-mobile-header h1 {
  color: var(--font-color-secondary);
}

.ylitse-footer {
  display: flex;
  justify-content: center;
  font-family: var(--ff-body);
  color: var(--font-color-secondary);
  font-weight: 600;
  line-height: var(--line-height-body);
  text-align: center;
}

.ylitse-language-selector {
  display: flex;
  align-items: center;
  gap: 1.563rem;
  margin-bottom: 1.563rem;
  margin-top: 1.563rem;
}

.ylitse-language-selector a {
  font-family: var(--ff-heading);
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.188rem;
  display: flex;
  align-items: center;
  color: #37119d;
  margin: 0;
}

.ylitse-vertical-separator {
  border-right: 0.063rem solid #1c325d;
  height: 1.563rem;
}

/* Form styles */

/* Input styles */



/* Mobile+Portrait mode styles */
@media only screen and (max-width: 850px) and (orientation: portrait) {

  .ylitse-footer {
    height: var(--header-height);
    color: var(--font-color-primary);
    background-color: var(--theme-color-secondary);
  }

  .ylitse-footer p {
    margin: auto;
  }

  .ylitse-mobile-header {
    display: flex;
    height: var(--header-height);
    justify-content: center;
  }
}