:root {
  --ff-heading: 'Baloo 2';
  --ff-body: 'Source Sans 3';

  --font-color-primary: #1c325d;
  --font-color-secondary: #fff;

  --primary-color: #4a2acb;
  --primary-color-lighter: #5c33ff;
  --primary-color-darker: #37119d;
  --secondary-color: #43bfff;
  --secondary-color-opacity-50: #43bfff7f;
  --secondary-color-opacity-0: #43bfff00;
  --secondary-color-darker: #01a5ec;
  --highlight-color: #f0ba8c;

  --error-color: #972232;

  --background-color: #d3efff;
  --secondary-background-color: #e4f3fb;
  --background-color-dark: #c2edfe;
  --background-color-light: #ffffff;
}
